[Unit]
Description=Alertmanager service

[Service]
Type=simple
EnvironmentFile=/etc/default/alertmanager
ExecStart={{ alertmanager_bin_path }}/alertmanager $ARGS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target
