[Unit]
Description=Alertmanager service

[Service]
Type=simple
ExecStart={{ alertmanager_bin_path }}/alertmanager \
    --config.file={{ alertmanager_etc_path }}/alertmanager.yml \
    --storage.path={{ alertmanager_data_path }}

[Install]
WantedBy=default.target
